//
	.
	**  ////////////////  **
	||                    ||
	||        ___         ||
	||       /  /\        ||
	||      /  /:/_       ||
	||     /  /:/ /\      ||
	||    /  /:/ /:/_     ||
	||   /__/:/ /:/ /\    ||
	||   \  \:\/:/ /:/    ||
	||    \  \::/ /:/     ||
	||     \  \:\/:/      ||
	||      \  \::/       ||
	||       \__\/        ||
	||                    ||
	||  ________________  ||
	||  site by elwyn.co  ||
	**  ////////////////  **