//- Define some sitewide PHP vars
include _snippets/_siteVars

!!! 5
<!--[if IE 7]><html data-ie="ie7" lang="en"><![endif]-->
<!--[if IE 8]><html data-ie="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html data-ie="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
html(lang="en")
	<!--<![endif]-->
	include _snippets/_signature
	include _snippets/_head
		body(class=$currentPage, data-current-page=$currentPage)
			div#wrapper
				block content
			div#mobileTester
			div#tabletTester
			if $isLocal
				include _snippets/_browserWatch
